<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<html>
<head>
    <style type="text/css">
        body {color:red}
        h1 {color:#00ff00}
        p.ex {color:rgb(0,0,255)}
    </style>
</head>
<body>


<br />
<br />
<br />
<br />
<br />
黑名单

</body>
</html>
